<div class="image-columns">

    {% for block in section.blocks %}

        <style>

    .image-columns__column--{{ forloop.index }}{
        background: url({{ block.settings.image | image_url }});
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

        <div {{ block.shopify_attributes }} class="image-columns__column image-columns__column--{{ forloop.index }}">
            <div class="image-columns__heading">
                <span>{{ block.settings.heading }}</span>
            </div>
            <div class="image-columns__content">
                <p class="image-columns__para">
                    {{ block.settings.para }}
                </p>
                <div class="image-columns__btn-container">
                    <a class="image-columns__btn btn btn__secondary--md" href="{{ block.settings.button__link }}">{{ block.settings.button__text }}</a>
                </div>
            </div>
        </div>

    {% endfor %}

</div>

{% schema %}
{
    "name": "Image Columns",
    "settings": [
    ],
    "max_blocks": 5,
    "blocks": [
        {
            "name": "Column",
            "type": "column",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "textarea",
                    "id": "para",
                    "label": "Paragraph"
                },
                {
                    "type": "text",
                    "id": "button__text",
                    "label": "Button Text"
                },
                {
                   "type": "image_picker",
                   "id": "image",
                   "label": "Background Image"
                },
                {
                    "type": "url",
                    "id": "button__link",
                    "label": "Heading"
                }
            ]
        }
    ],
    "presets": [
    {
    "name":"Image Columns",
    "blocks": [
    {
    "type": "column"
    },
    {
    "type": "column"
    },
    {
    "type": "column"
    },
    {
    "type": "column"
    }
    ]
    }
    ]
} {% endschema %}