<div class="text-overlay-image">
    <div class="text-overlay-image__bg-image-container">
        <img width="1500" height="802" src="{{ section.settings.image | image_url }}"
            class="text-overlay-image__bg-image"></img>
    </div>
    <div class="text-overlay-image__logo-container">
        <img width="100" height="100"
            src="{{ section.settings.logo | image_url }}" alt=""
            class="text-overlay-image__logo">
    </div>
    <div class="text-overlay-image__content">
        <div class="text-overlay-image__header-container">
            <h2 class="text-overlay-image__header">{{ section.settings.heading }}</h2>
        </div>
        <div class="text-overlay-image__para">{{ section.settings.para }}</div>
        <div class="text-overlay-image__btn">
            <a href="{{ section.settings.button__link }}" class="btn btn__primary--md">{{ section.settings.button__text }}</a>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Text Overlay Section",
    "settings": [
        {
           "type": "header",
           "content": "Images"
        },
        {
           "type": "image_picker",
           "id": "logo",
           "label": "Logo"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
        },
        {
           "type": "header",
           "content": "Text"
        },
        {
           "type": "text",
           "id": "heading",
           "label": "Heading"
        },
        {
           "type": "textarea",
           "id": "para",
           "label": "Paragraph(s)",
            "default": "Go into detail about what sets your business apart from others in your industry"
        },
        {
            "type": "text",
            "id": "button__text",
            "label": "Button Text"
        },
        {
           "type": "url",
           "id": "button__link",
           "label": "Button Link"
        }
    ]
}
{% endschema %}