<style>
    .hero__bg{
        background: url({{ section.settings.image | image_url }});
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="hero">
    <div class="hero__bg"></div>
    <div class="hero__overlay"></div>
    <div class="hero__content">
        <div class="hero__logo">
            <img alt="" height="116" src="{{ section.settings.logo | image_url }}" width="116">
        </div>
        <div class="hero__text-box">
            <h1 class="hero__title">{{ section.settings.heading }}</h1>
            <span class="hero__subtitle">{{ section.settings.subheading}}</span>
        </div>
    </div>
    <div class="hero__cta">
        <a class="hero__btn {{ section.settings.button__type }}" href="/">{{ section.settings.button__text }}</a>
    </div>
</div>

{% schema %}
{
"name": "Hero",
"class": "main__hero",
"settings": [
   {
    "type": "header",
    "content": "Image"
    },
    {
       "type": "image_picker",
       "id": "image",
       "label": "Image",
       "info": "1500 x 1000px recommended"
    },
    {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo",
        "info": "116 x 116px recommended"
     },
    {
       "type": "header",
       "content": "Text"
    },
    {
       "type": "text",
       "id": "heading",
       "label": "Heading",
      "default": "Heading Here"
    },
    {
        "type": "text",
        "id": "subheading",
        "label": "Subeading",
       "default": "Subheading Here"
    },
    {
        "type": "text",
        "id": "button__text",
        "label": "Button text",
        "default": "Button"
    },
    {
        "type": "select",
        "id": "button__type",
        "label": "Button Style",
        "options": [
            {
                "value": "btn btn__secondary--lg",
                "label": "Secondary button"
            },
            {
                "value": "btn btn__primary--lg",
                "label": "Primary button"
            }
        ]
    }
]
} {% endschema %}