<div data-animate="{{ section.settings.animation }}" class="banner-callout">
    <div class="banner-callout__content">
        <div class="banner-callout__svg-container">
            <img srcset="{%- if section.settings.image.width >= 400 -%}{{ section.settings.image | image_url: width: 400 }} 400w,{%- endif -%}
            {%- if section.settings.image.width >= 600 -%}{{ section.settings.image | image_url: width: 600 }} 600w,{%- endif -%}
            {%- if section.settings.image.width >= 900 -%}{{ section.settings.image | image_url: width: 900 }} 900w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
            sizes="(max-width: 400px) 713px, (max-width: 600px) 735px,(max-width: 910px) 900px,(max-width: 1500px) 1500px "
            width="{{ section.settings.image.width }}"1
            height="{{ section.settings.image.height }}"
            src="{{ section.settings.image | image_url: width: 1500 }}"
            class="banner-callout__bg"
            loading="lazy">
            <!-- <img
                alt=""
                class="banner-callout__bg"
                height="575"
                src="{{ section.settings.image | image_url: width: 1500 }}"
                width="1506"> -->
        </div>

        <h2 class="banner-callout__heading">{{ section.settings.heading }}</h2>
    </div>
</div>

{% schema %}
{
  "name": "Banner Callout",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "header",
      "content": "Animation",
      "info": "Entrance & Exit Animations"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "options": [
        {
          "value": "fadeIn",
          "label": "Fade In"
        },
        {
          "value": "fadeDown",
          "label": "Fade Down"
        },
        {
          "value": "fadeUp",
          "label": "Fade Up"
        },
        {
          "value": "fadeRight",
          "label": "Fade Right"
        },
        {
          "value": "fadeLeft",
          "label": "Fade Left"
        }
      ],
      "default": "fadeIn",
      "info": "Select one of the options to animate the entrance and exit of this section. Save changes after selection to preview animation"
    }
  ]
}
{% endschema %}