<div data-animate="{{ section.settings.animation }}" class="three-columns">
  {% for block in section.blocks %}
    {% assign image = block.settings.image %}
    <div {{ block.shopify_attributes }} class="three-columns__col">
      <div class="three-columns__image-container">
        <img
          srcset="
            {%- if image.width >= 400 -%}{{ image | image_url: width: 400 }} 400w,{%- endif -%}
            {%- if image.width >= 600 -%}{{ image | image_url: width: 600 }} 600w,{%- endif -%}
            {%- if image.width >= 900 -%}{{ image | image_url: width: 900 }} 900w,{%- endif -%}
            {%- if image.width >= 1500 -%}{{ image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ image | image_url }} {{ image.width }}w
          "
          sizes="(max-width: 400px) 400px, (max-width: 600px) 600px,(max-width: 900px) 454.2px,(max-width: 1500px) 500px"
          width="{{ image.width }}"
          height="{{ image.height }}"
          src="{{ image | image_url: width: 500 }}"
          class="three-columns__image"
          loading="lazy"
        >
        <!-- <img alt="" class="three-columns__image" src="{{ image | image_url }}"> -->
      </div>
      <a class="three-columns__content" href="{{ block.settings.link }}">
        <h3 class="three-columns__heading">{{ block.settings.heading }}</h3>
      </a>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Three Columns",
  "settings": [
    {
      "type": "header",
      "content": "Animation",
      "info": "Entrance & Exit Animations"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "options": [
        {
          "value": "fadeIn",
          "label": "Fade In"
        },
        {
          "value": "fadeDown",
          "label": "Fade Down"
        },
        {
          "value": "fadeUp",
          "label": "Fade Up"
        },
        {
          "value": "fadeRight",
          "label": "Fade Right"
        },
        {
          "value": "fadeLeft",
          "label": "Fade Left"
        }
      ],
      "default": "fadeIn",
      "info": "Select one of the options to animate the entrance and exit of this section. Save changes after selection to preview animation"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "name": "Column",
      "type": "column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "heading"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
