{% assign image = section.settings.image %}
{% assign logo = section.settings.logo %}
{% assign heading = section.settings.heading %}
{% assign para = section.settings.para %}
{% assign button_link = section.settings.button_link %}
{% assign button_text = section.settings.button_text %}

{% comment %}
   <style>
    .page-header__heading-button{
      width: 100%;
      padding-top: 4rem;
    }
    .page-header__heading-button .btn {
      font-size: 2rem;
  }
  </style>
{% endcomment %}

{% case request.page_type %}
  {% when 'product' %}
    {%- capture atcButton -%}
      <div class="page-header__heading-button">
        {% form 'product', product %}
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          <button
            type="submit"
            name="add"
            value="Add To Cart"
            class="page-image-with-text__button btn btn__tertiary--md"
          >
            Book Now
          </button>
        {% endform %}
      </div>
    {%- endcapture -%}
{% endcase %}

{%- capture btn_link -%}
  {%- if button_link == blank -%}
    /
  {%- else -%}
    {{- button_link -}}
  {%- endif -%}
{%- endcapture -%}

<style>
  .page-image-with-text{
    padding-top: {{ section.settings.padding-top }}px; padding-bottom: {{ section.settings.padding-bottom }}px
  }
</style>

<div
  data-animate="{{ section.settings.animation }}"
  class="page-image-with-text"
>
  <div class="page-image-with-text__image-container">
    {% unless image == blank %}
      <img
        srcset="
          {%- if image.width >= 400 -%}{{ image | image_url: width: 400 }} 400w,{%- endif -%}
          {%- if image.width >= 600 -%}{{ image | image_url: width: 600 }} 600w,{%- endif -%}
          {%- if image.width >= 900 -%}{{ image | image_url: width: 900 }} 900w,{%- endif -%}
          {%- if image.width >= 1500 -%}{{ image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {{ image | image_url }} {{ image.width }}w
        "
        sizes="(max-width: 400px) 374.5px, (max-width: 600px) 428.1px,(max-width: 900px) 508.7px,(max-width: 1500px) 750px"
        width="{{ image.width }}"
        height="{{ image.height }}"
        src="{{ image | image_url: width: 1000 }}"
        class="page-image-with-text__image"
        loading="lazy"
      >
      <!--
        <img
        alt=""
        class="page-image-with-text__image"
        src="https://cdn.shopify.com/s/files/1/0581/1680/0605/files/page-img-w-text.jpg?v=1653411560">
      -->
    {% else %}
      {{ 'lifestyle-2' | placeholder_svg_tag: 'page-image-with-text__image--svg' }}
    {% endunless %}
    <img src="{{ 'rect-svg-bg.svg' | asset_url }}" alt="" class="page-image-with-text__svg-background">
    <div class="page-image-with-text__logo-container">
      {% unless logo == blank %}
        <img
          alt=""
          class="page-image-with-text__logo"
          src="https://cdn.shopify.com/s/files/1/0581/1680/0605/files/logo__box.jpg?v=1652567130"
        >
      {% else %}

      {% endunless %}
    </div>
  </div>

  <div class="page-image-with-text__text-container">
    <div class="page-image-with-text__heading-container">
      <h2 class="page-image-with-text__heading">{{ heading }}</h2>
    </div>
    <div class="page-image-with-text__para-container">
      <p class="page-image-with-text__para">
        {% if para == blank %}
          {{ product.metafields.my_fields.product_info_2.value }}
        {% else %}
          {{ para }}
        {% endif %}
      </p>
    </div>
    <div class="page-image-with-text__button-container">
      {% if button_text != blank %}
        <a class="page-image-with-text__button btn btn__tertiary--md" href="{{btn_link}}">{{ button_text }}</a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image With Text 2",
  "settings": [
    {
      "type": "header",
      "content": "Images"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "header",
      "content": "Animation",
      "info": "Entrance & Exit Animations"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "options": [
        {
          "value": "fadeIn",
          "label": "Fade In"
        },
        {
          "value": "fadeDown",
          "label": "Fade Down"
        },
        {
          "value": "fadeUp",
          "label": "Fade Up"
        },
        {
          "value": "fadeRight",
          "label": "Fade Right"
        },
        {
          "value": "fadeLeft",
          "label": "Fade Left"
        }
      ],
      "default": "fadeIn",
      "info": "Select one of the options to animate the entrance and exit of this section. Save changes after selection to preview animation"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding-top",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-bottom",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "para",
      "label": "Paragraph"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Page Image With Text"
    }
  ]
}
{% endschema %}
